.title-image3{
    height: 600px;
    width: 100vw;
    box-sizing: content-box;
    background-image: url("https://www.india-tours.com/images/festivals/nishagandhi-dance-festival/nishagandhi-dance-festival-kerala.jpg");
    background-size: cover;
}