.title-image2{
    height: 600px;
    width: 100vw;
    box-sizing: content-box;
    background-image: url("https://www.holidify.com/images/cmsuploads/compressed/5_20170828191646.jpg");
    background-size: cover;
}