.eventI{
    display: flex;
    justify-content: space-around;
}
.event1{
    display: block;
    height: 600px;
    width: 600px;
    border: 1px solid;
    margin-top: 25px;
    cursor: pointer;
    background-image: url("https://images.unsplash.com/photo-1524201862652-0d3d485d6d07?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3RhZ2UlMjBwZXJmb3JtYW5jZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
    background-size: contain;
}
.event2{
    display: block;
    height: 600px;
    width: 600px;
    border: 1px solid;
    margin-top: 25px;
    cursor: pointer;
    background-image: url("http://www.bitoapps.in/photography/img/c.jpg");
    background-size: contain;
}
.event3{
    display: block;
    height: 600px;
    width: 600px;
    border: 1px solid;
    margin-top: 25px;
    cursor: pointer;
    background-image: url("https://tdps.berkeley.edu/sites/default/files/styles/openberkeley_image_full/public/hero_bdp_2019.jpg?itok=1QDn2kIN&timestamp=1559078327");
    background-size: contain;
}
.event4{
    display: block;
    height: 600px;
    width: 600px;
    border: 1px solid;
    margin-top: 25px;
    cursor: pointer;
}
.event5{
    display: block;
    height: 600px;
    width: 600px;
    border: 1px solid;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: pointer;
}
.event6{
    display: block;
    height: 600px;
    width: 600px;
    border: 1px solid;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: pointer;
}