.header{
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgrey;
    padding: 10px 0;
    width: 100%;
    /* background-color: #fff; */
}
.header-left{
    display: flex;
    width: 11%;
    margin-left: 35px;
}
.header-left>img{
  object-fit: contain;
  height: 65px;
  margin-right: 10px;
}
.header-right{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    color: gray;
    margin-left: 152px;
}
.header-right>p{
    font-weight: 500;
    padding-top: 12px;
}
.header-right>p:hover{
    color: black;
    cursor: pointer;
}
.icon{
    font-size: larger;
    font-weight: 500;
}
.icon:hover{
    color: black;
}